<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PSDiretorioArquivosLocal" value="C:\Users\victor.moraes\Documents" />
    <add key="PSDiretorioArquivosResultLocal" value="C:\Users\victor.moraes\Documents" />
    <add key="PSDiretorioArquivos" value="D:\Program Files\MyBranch" />
    <add key="WS_PRRBR" value="http://srvsrvcpvwbr06.prbbr.produbanbr.corp/CMApplicationCatalog/ApplicationViewService.asmx" />
    <add key="WS_BSBR" value="" />
    <add key="WS_LAB" value="http://192.168.0.48/CMApplicationCatalog/ApplicationViewService.asmx" />
    <add key="SCCM_API_URL" value="http://localhost:60580" />
    <!--<add key="SCCM_API_URL" value="http://srvsrvcpvwbr06.prbbr.produbanbr.corp:9091" />-->
    <!--<add key="CACHE_API_WS" value="15"/>-->
    <add key="SCCM_SERVER" value="SRVSRVCPVWBR05.prbbr.produbanbr.corp" />
    <add key="SCCM_SERVER_SDK" value="SRVSRVCPVWBR06.prbbr.produbanbr.corp" />
    <add key="SCCM_CRED_USUARIO" value="PRBBR\SPBOY01" />
    <add key="SCCM_CRED_SENHA" value="j*k8RP34?&lt;qd0Y,R" />
    <add key="SCCM_CRED_SENHA_SECURE" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="winAuthBasicHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://srvsrvcpvwbr06.prbbr.produbanbr.corp/CMApplicationCatalog/ApplicationViewService.asmx" binding="basicHttpBinding" bindingConfiguration="winAuthBasicHttpBinding" contract="ApplicationViewService.ApplicationViewServiceSoap" name="ApplicationViewServiceSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
